<footer>
    <div class="top">
    <div class="container ">

        <div class="row ">

            <div class="col-xs-12 col-md-2 security text-center">
                <p>Paiement sécurisé</p>
            </div>
            <div class="col-xs-12 col-md-6 menu col-md-offset-1">

                <p>Cours de Musique</p>
                <ul class="list-inline hidden-xs">
                    <li><a href="javascript:;">Cours de Guitare</a><span>-</span></li>
                    <li><a href="javascript:;">Cours Piano</a><span>-</span></li>
                    <li><a href="javascript:;">Cours  Basse</a><span>-</span></li>
                    <li class="end"><a href="javascript:;">Cou</a></li>
                </ul>

                <ul class="list-unstyled hidden-sm hidden-md hidden-lg">
                    <li><a href="javascript:;">Cours de Guitare</a></li>
                    <li><a href="javascript:;">Cours Piano</a></li>
                    <li><a href="javascript:;">Cours  Basse</a></li>
                    <li><a href="javascript:;">Cou</a></li>
                </ul>

            </div>

            <div class="col-xs-12 col-md-3 subscribe text-center">
                <button type="button" class="btn btn-iwp">INSCRIVEZ VOUS</button>
                <p>Accès illimité à tous les cours</p>
            </div>

        </div>
        </div>

    </div>
    <div class="bottom">
        <div class="container">

            <div class="row text-center">

                <ul class="list-inline hidden-xs">
                    <li><a href="javascript:;">Mention légale</a><span>-</span></li>
                    <li><a href="javascript:;">Conditions générales de vente</a><span>-</span></li>
                    <li class="end"><a href="javascript:;">Qui som nous?</a></li>
                </ul>

                <ul class="list-unstyled hidden-sm hidden-md hidden-lg">
                    <li><a href="javascript:;">Mention légale</a></li>
                    <li><a href="javascript:;">Conditions générales de vente</a></li>
                    <li><a href="javascript:;">Qui som nous?</a></li>
                </ul>


            </div>
        </div>
    </div>
</footer>