<div class="jumbotron">

    <div class="container">

        <div class="row">
            <article class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-6 text-center">

                <h2>Les cours de piano</h2>
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae ligula sit amet turpis volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae ligula sit amet turpis volutpat. In vitae ligula sit amet turpis volutpat.</p>

                <button type="button" class="btn btn-iwp">DECOUVREZ</button>

            </article>
        </div>
    </div>

</div>